/*Web Design Section Start*/
.webDesignContent {
    box-sizing: border-box;
    background-color: #f76383;
    position: relative;
}
.webDesignContent p {
    font-family: italic;
    transition: 0.5s;
    color: #f5ecec;
}
.webDesignContent p:hover {
    font-size: 20px;
    font-weight: 600;
    transition-duration: 0.5s;
    color: #ffffff;
}

.pricingCard {
    position: relative;
    width: 130px;
    height: 130px;
    position: absolute;
    background-color: #f76383;
    border: 6px solid #8d515e;
    border-radius: 50%;
    z-index: 1;
    margin-left: 60%;
    display: inline-block;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 1;
}
.pricingCard h4 {
    margin-top: 32%;
    font-size: 28px;
    color: bisque;
}
.pricingCard span {
    color: bisque;
    font-family: italic;
    font-size: 14px;
}
/*Web Design Section End*/

/*webDevelopment Design Section Start*/

.webDevelopment {
    box-sizing: border-box;
    background-color: #f76383;
}
.webDevelopment p {
    font-family: italic;
    transition-duration: 0.5s;
    color: #f5ecec;
}
.webDevelopment p:hover {
    font-size: 20px;
    font-weight: 600;
    transition-duration: 0.5s;
    color: #ffffff;
}
/*webDevelopment Design Section End*/

/*apiDevelopment Design Section Start*/
.apiDevelopment {
    box-sizing: border-box;
    background-color: #f76383;
}
.apiDevelopment p {
    font-family: italic;
    transition-duration: 0.5s;
    color: #f5ecec;
}
.apiDevelopment p:hover {
    font-size: 20px;
    font-weight: 600;
    transition-duration: 0.5s;
    color: #ffffff;
}
.btn-info {
    background-color: #f76383;
    padding: 5px;
    border-radius: 8%;
    transition: 0.5s;
    width: 125px;
    position: relative;
    z-index: 1;
}
.btn-info::after {
    content: "";
    position: absolute;
    border-radius: 8%;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #813d4d;
    transition: 0.5s;
    z-index: -1;
}
.btn-info:hover::after {
    width: 100%;
    transition: 0.5s;
}

/*apiDevelopment Design Section End*/
